<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076191646520-hnva04sf9qmibgc8b3mbka5jc78b71um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076191646520-hnva04sf9qmibgc8b3mbka5jc78b71um</string>
	<key>API_KEY</key>
	<string>AIzaSyAJR8-XLyomvkPbDS5F0r9YI8CnsBzUujQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1076191646520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devan.GroceryList</string>
	<key>PROJECT_ID</key>
	<string>grocerylist-5ccca</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerylist-5ccca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076191646520:ios:8e82a4de8b41a4909ca7cd</string>
	<key>DATABASE_URL</key>
	<string>https://grocerylist-5ccca.firebaseio.com</string>
</dict>
</plist>